<div class="w-full px-4">
  <div class="py-14 w-full flex justify-center items-center" *ngIf="isLoading">
    <mat-spinner [strokeWidth]="2"></mat-spinner>
  </div>
  <div class="table-container" *ngIf="!isLoading">
    <mat-table #table [dataSource]="dataSource" class="mt-10" matSort>
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.createdAt | date : "dd/MM/yyyy hh:mm a" : "-360" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="issuer">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Emisor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.issuer.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiver">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Receptor
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.receiver.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Monto
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-transfer-type
            [type]="element.type"
            [amount]="element.amount"
          ></app-transfer-type>
        </mat-cell>
      </ng-container>

      <ng-container *matNoDataRow>
     
      <p class="pl-12 pt-4 text-[#121212] text-[14px]">
        No se han encontrado datos..
      </p>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
