<div class="flex px-6 md:px-24 pt-12">
  <a href="/">
    <img
      src="../../../../assets/images/logo-landing.png"
      alt=""
      width="50"
      height="50"
    />
  </a>
</div>
<div class="flex flex-col px-6 xl:px-96 pt-14 md:pt-48">
  <div>
    <h1 class="text-4xl lg:text-6xl text-[#FFB81C] font-black">
      Resetea tu contraseña
    </h1>
    <p class="text-2xl pt-4">Ingresa tu nueva contraseña</p>
  </div>
  <form [formGroup]="resetPasswordForm">
    <div
      class="mt-12 flex flex-col justify-center items-center"
      *ngIf="isLoading"
    >
      <mat-spinner [strokeWidth]="2"></mat-spinner>
    </div>
    <div
      *ngIf="!isLoading"
      class="mt-12 flex flex-col justify-center items-center"
    >
      <div class="flex flex-col">
        <label for="password" class="">Nueva contraseña</label>
        <input
          id="password"
          class="login-input"
          placeholder=""
          type="password"
          formControlName="password"
        />
        <div class="field-not-completed">
          <p class="" *ngIf="notValidField('password')">
            <span class="md:flex hidden"
              >Debe ingresar la contraseña, 6 carácteres mínimo
            </span>
            <span class="md:hidden flex">
              Debe ingresar la contraseña,
              <br />
              6 carácteres mínimo</span
            >
          </p>
        </div>
      </div>
      <button class="login-btn mt-12" (click)="resetPassword()">
        RESETEAR CONTRASEÑA
      </button>
    </div>
  </form>
</div>
