<app-header (changeOpened)="opened = !opened"></app-header>
<mat-drawer-container>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    disableClose="true"
    opened="true"
    [class.expanded]="opened"
  >
    <div
      class="item-container mt-10 mb-5 cursor-pointer transition duration-300 hover:bg-[#efdbff] hover:rounded-md"
      routerLink="/user/dashboard"
      routerLinkActive="active-list-item"
      (click)="opened = false"
    >
      <img
        src="../../../../assets/icons/rectangle-group.svg"
        alt=""
        height="10"
        width="10"
        class="iconList"
      />
      <a class="sidebar-menu-item-a ml-3"> Dashboard </a>
    </div>
    <div
      class="item-container mb-5 cursor-pointer transition duration-300 hover:bg-[#efdbff] hover:rounded-md"
      routerLink="/user/transfer"
      routerLinkActive="active-list-item"
      (click)="opened = false"
    >
      <img
        src="../../../../assets/icons/card.svg"
        alt=""
        height="10"
        width="10"
        class="iconList"
      />
      <a class="sidebar-menu-item-a ml-3"> Transferencias </a>
    </div>
    <div
      class="item-container cursor-pointer transition duration-300 hover:bg-[#efdbff] hover:rounded-md"
      (click)="signOut()"
      routerLinkActive="active-list-item"
    >
      <img
        src="../../../../assets/icons/arrow-left-on-rectangle.svg"
        alt=""
        height="10"
        width="10"
        class="iconList"
      />
      <a class="sidebar-menu-item-a ml-3"> Cerrar sesión </a>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content" [class.expanded]="opened">
    <router-outlet> </router-outlet>
  </div>
</mat-drawer-container>
