<div class="flex justify-center items-center pt-36">
  <div class="flex flex-col items-center">
    <p class="text-3xl font-bold text-[#FFB81C]">¡SE HA REALIZADO LA TRANSFERENCIA CON ÉXITO!</p>
    <button routerLink="/user/transfer" class="login-btn mb-12">REALIZAR OTRA TRANSFERENCIA</button>
    <img
      src="../../../../../assets/images/Celebration-amico.svg"
      width="450"
      height="450"
      alt=""
    />
  </div>
</div>
