<div class="flex px-6 md:px-24 pt-12">
  <a href="/">
    <img
      src="../../../../assets/images/logo-landing.png"
      alt=""
      width="50"
      height="50"
    />
  </a>
</div>
<div class="flex flex-col px-6 xl:px-96 pt-14 md:pt-48">
  <div>
    <h1 class="text-4xl lg:text-6xl text-[#FFB81C] font-black">
      ¡Genial, tu contraseña ha sido cambiada con éxito!
    </h1>
    <p class="text-2xl pt-4">
    Ahora puedes inicar sesión correctamente
    </p>
  </div>
  <button routerLink="/" class="login-btn">INICIAR SESIÓN</button>

  <div class="flex justify-center items-center">
    <img
      src="../../../assets/images/Appreciation-rafiki.svg"
      width="450px"
      height="450px"
      alt=""
    />
  </div>
</div>
