<div class="flex px-6 md:px-24 pt-12">
  <a href="/">
    <img
      src="../../../../assets/images/logo-landing.png"
      alt=""
      width="50"
      height="50"
    />
  </a>
</div>

<div class="w-full flex">
  <div class="flex flex-col w-full pt-10 sm:pt-20">
    <div class="justify-center items-center flex flex-col md:block md:px-80">
      <p class="text-3xl md:text-5xl text-[#FFB81C] font-black">REGÍSTRATE</p>
      <p class="text-lg md:text-xl font-thin">Completa los campos</p>
    </div>
    <form [formGroup]="registerForm">
      <div
        *ngIf="!isLoading"
        class="mt-10 flex flex-col justify-center w-full items-center"
      >
        <div
          class="justify-center flex flex-col lg:flex-row items-center w-full"
        >
          <div
            class="flex flex-col justify-center items-start lg:mb-10 lg:mr-10"
          >
            <label for="fullName">Nombre completo</label>
            <input
              id="fullName"
              name="fullName"
              class="register-input"
              type="text"
              formControlName="fullName"
              placeholder="Ej: Pepito Perez"
            />
            <div class="field-not-completed">
              <p *ngIf="notValidField('fullName')">
                Debe ingresar el nombre completo
              </p>
            </div>
          </div>

          <div class="flex flex-col lg:mb-10 justify-center items-start">
            <label for="mail">Correo electrónico</label>
            <input
              id="mail"
              name="mail"
              class="register-input"
              type="text"
              formControlName="mail"
              placeholder="Ej: ejemplo@mail.com"
            />
            <div class="field-not-completed">
              <p *ngIf="notValidField('mail')">
                Debe ingresar el correo electrónico
              </p>
            </div>
          </div>
        </div>
        <div
          class="justify-center flex flex-col lg:flex-row items-center w-full"
        >
          <div
            class="flex flex-col justify-center items-start lg:mb-10 lg:mr-10"
          >
            <label for="rut">Rut</label>
            <input
              id="rut"
              name="rut"
              class="register-input"
              type="text"
              formControlName="rut"
              placeholder="Ej: 11.111.111-1"
              (input)="onRutInput($event)"
            />
            <div class="field-not-completed">
              <p *ngIf="notValidField('rut')">Debe un rut válido</p>
            </div>
          </div>

          <div class="flex flex-col lg:mb-10 justify-center items-start">
            <label for="password">Contraseña</label>
            <input
              id="password"
              name="password"
              class="register-input"
              type="password"
              formControlName="password"
              placeholder=""
              (keyup.enter)="register()"
            />
            <div class="field-not-completed">
              <p class="" *ngIf="notValidField('password')">
                <span class="md:flex hidden"
                  >Debe ingresar la contraseña, 6 carácteres mínimo
                </span>
                <span class="md:hidden flex">
                  Debe ingresar la contraseña,
                  <br />
                  6 carácteres mínimo</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading" class="justify-center flex items-center my-10">
        <mat-spinner [strokeWidth]="2"></mat-spinner>
      </div>
    </form>
    <div
      class="flex flex-col justify-center items-center lg:items-end lg:pr-72 mt-5 lg:mt-0"
    >
      <button
        (click)="register()"
        class="register-btn"
        [disabled]="!registerForm.valid || clickButton"
      >
        REGISTRAR
      </button>
      <div class="py-12">
        <a routerLink="/"
          >Ya tienes cuenta?, Ingresa
          <span class="text-[#660091]"> aquí </span></a
        >
      </div>
    </div>
  </div>
</div>
