<div class="flex px-6 md:px-24 pt-12">
  <a href="/">
    <img
      src="../../../../assets/images/logo-landing.png"
      alt=""
      width="50"
      height="50"
    />
  </a>
</div>
<div class="flex flex-col px-6 xl:px-96 pt-14 md:pt-48">
  <div>
    <h1 class="text-4xl lg:text-6xl text-[#FFB81C] font-black">
      ¿Olvidaste tu contraseña?
    </h1>
    <p class="text-2xl pt-4">Ingresa tu correo electrónico</p>
  </div>
  <form [formGroup]="forgotPasswordForm">
    <div
      class="mt-12 flex flex-col justify-center items-center"
      *ngIf="isLoading"
    >
      <mat-spinner [strokeWidth]="2"></mat-spinner>
    </div>

    <div
      *ngIf="!isLoading"
      class="mt-12 flex flex-col justify-center items-center"
    >
      <div class="flex flex-col">
        <label for="mail" class="">Correo electrónico</label>
        <input
          id="mail"
          class="login-input"
          placeholder="Ej: correo@mail.com"
          type="text"
          formControlName="mail"
          (keyup.enter)="forgotPassword()"
        />
      </div>
      <div class="field-not-completed h-[5px]">
        <p *ngIf="notValidField('mail')">Debe ingresar el correo electrónico</p>
      </div>
      <button
        class="transfer-btn mt-12"
        [disabled]="!forgotPasswordForm.valid"
        (click)="forgotPassword()"
      >
        RECUPERAR CONTRASEÑA
      </button>
    </div>
  </form>
</div>
