<div>
  <div *ngIf="type === 'received'" class="flex">
    <p class="text-[#4acb8d] w-[100px] mr-4">
      {{ amount | clpFormat }}
    </p>
    <img
      src="../../../../assets/icons/arrow-down-left.svg"
      width="20"
      height="20"
      alt=""
    />
  </div>

  <div *ngIf="type === 'issued'" class="flex">
    <p class="text-red-500 w-[100px] mr-4">
      {{ amount | clpFormat }}
    </p>
    <img
      src="../../../../assets/icons/arrow-up-right.svg"
      width="20"
      height="20"
      alt=""
    />
  </div>
</div>
