<div
  class="ps-12 py-14 flex flex-col sm:flex-row sm:justify-between sm:items-center"
>
  <span class="text-xl md:text-3xl font-bold text-[#572F78]">
    ÚLTIMOS MOVIMIENTOS
  </span>

  <span
    class="mt-4 md:mt-0 me-10 text-lg sm:text-xl font-black text-[#FFB81C] items-center flex"
  >
    SALDO TOTAL:
    <app-balance [clientId]="user._id!"></app-balance>
    <button
      class="ml-3 sm:ml-5 bg-[#572F78] p-3 rounded-xl"
      (click)="reloadComponents()"
    >
      <img
        src="../../../../assets/icons/arrow-path.svg"
        width="25"
        height="25"
        alt=""
      />
    </button>
  </span>
</div>

<div class="ps-12 py-14 w-full">
  <app-last-movements [clientId]="user._id!"></app-last-movements>
</div>
