<div *ngIf="isLoading" class="flex justify-center items-center h-[200px]">
  <mat-spinner [strokeWidth]="2"></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="!isVerified">
    <div class="flex px-6 md:px-24 pt-12">
      <a href="/">
        <img
          src="../../../../assets/images/logo-landing.png"
          alt=""
          width="50"
          height="50"
        />
      </a>
    </div>
    <div class="flex flex-col px-6 xl:px-96 pt-14 md:pt-48">
      <div>
        <h1 class="text-6xl text-[#FFB81C] font-black">
          ¡Ha ocurrido un error!
        </h1>
        <p class="text-2xl pt-4">Ya validaste tu cuenta.</p>
        <button routerLink="/" class="login-btn">INICIAR SESIÓN</button>
      </div>
      <div class="flex justify-center items-center">
        <img
          src="../../../assets/images/error.svg"
          width="450px"
          height="450px"
          alt=""
        />
      </div>
    </div>
  </div>
  <div *ngIf="isVerified">
    <div class="flex px-6 md:px-24 pt-12">
      <a href="/">
        <img
          src="../../../../assets/images/logo-landing.png"
          alt=""
          width="50"
          height="50"
        />
      </a>
    </div>
    <div class="flex flex-col px-6 xl:px-96 pt-14 md:pt-48">
      <div>
        <h1 class="text-6xl text-[#FFB81C] font-black">¡Bienvenido a chek!</h1>
        <p class="text-2xl pt-4">
          Gracias por unirte a chek, comienza a disfrutar tus beneficios 💜
        </p>
        <button routerLink="/" class="login-btn">INICIAR SESIÓN</button>
      </div>
      <div class="flex justify-center items-center">
        <img
          src="../../../assets/images/Appreciation-rafiki.svg"
          width="450px"
          height="450px"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
