<div class="ps-8 md:ps-12 py-14">
  <span class="text-xl md:text-3xl font-bold text-[#572F78]">
    TRANSFERENCIA
  </span>
</div>

<div class="px-8 md:px-12 bg-white rounded-2xl md:mx-16 py-12 mb-5 md:mt-10">
  <form [formGroup]="transferForm" *ngIf="!isLoading">
    <div
      class="mb-5 mt-10 w-full md:flex md:flex-col md:justify-center md:items-center"
    >
      <div
        class="md:flex flex flex-col md:flex-row md:justify-between md:mb-5 lg:px-4 2xl:px-24"
      >
        <div class="flex flex-col">
          <label for="fullName" class="text-[#572F78] font-semibold"
            >Nombre Completo</label
          >
          <input
            id="fullName"
            class="transfer-input"
            type="text"
            placeholder="Ej: Michael G Scott"
            formControlName="fullName"
          />
          <div class="field-not-completed">
            <p *ngIf="notValidField('fullName')">
              Debe ingresar el nombre completo
            </p>
          </div>
        </div>
        <div class="flex flex-col">
          <label for="rut" class="text-[#572F78] font-semibold">Rut</label>
          <input
            id="rut"
            class="transfer-input"
            type="text"
            formControlName="rut"
            placeholder="Ej: 11.111.111-1"
            (input)="onRutInput($event)"
          />
          <div class="field-not-completed">
            <p *ngIf="notValidField('rut')">Debe ingresar el rut</p>
          </div>
        </div>
        <div class="flex flex-col">
          <label for="mail" class="text-[#572F78] font-semibold"
            >Correo electrónico</label
          >
          <input
            id="mail"
            class="transfer-input"
            type="text"
            formControlName="mail"
            placeholder="Ej: correo@mail.com"
          />
          <div class="field-not-completed">
            <p *ngIf="notValidField('mail')">
              Debe ingresar el correo electrónico
            </p>
          </div>
        </div>
      </div>
      <div
        class="md:flex md:justify-between flex flex-col md:flex-row lg:px-12 2xl:px-24"
      >
        <div class="flex flex-col">
          <label for="accountNumber" class="text-[#572F78] font-semibold"
            >Número de cuenta</label
          >
          <input
            id="accountNumber"
            class="transfer-input"
            type="number"
            formControlName="accountNumber"
            placeholder="Ej: 001122334455"
          />
          <div class="field-not-completed">
            <p *ngIf="notValidField('accountNumber')">
              Debe ingresar el número de cuenta
            </p>
          </div>
        </div>
        <div class="flex flex-col">
          <label for="amount" class="text-[#572F78] font-semibold">Monto</label>
          <input
            id="amount"
            class="transfer-input"
            type="number"
            formControlName="amount"
            placeholder="$"
            (input)="numbersOnlyInput($event)"
            (keyup.enter)="newTransfer()"
          />
          <div class="field-not-completed">
            <p *ngIf="notValidField('amount')">Debe ingresar el monto</p>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="flex justify-center items-center" *ngIf="isLoading">
    <mat-spinner [strokeWidth]="2"></mat-spinner>
  </div>

  <div class="flex justify-center md:justify-end mr-6 mt-10 lg:px-12 2xl:px-24">
    <button (click)="newTransfer()" class="transfer-btn">TRANSFERIR</button>
  </div>
</div>
