.placeholder-text-title {
  height: 24px;
  margin-left: 20px;
  width: 80px;
}
.placeholder-text-subtitle {
  height: 16px;
  width: 330px;
}
.load-wraper {
  margin-right: 30px;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(226, 226, 226);
  z-index: 44;
  overflow: hidden;
  border-radius: 5px;
}
.activity {
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(
    to left,
    rgba(251, 251, 251, 0.1),
    rgba(251, 251, 251, 0.5),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.5),
    rgba(251, 251, 251, 0.1)
  );
  background-image: -moz-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.1),
    rgba(251, 251, 251, 0.5),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.5),
    rgba(251, 251, 251, 0.1)
  );
  background-image: -webkit-linear-gradient(
    to left,
    rgba(251, 251, 251, 0.1),
    rgba(251, 251, 251, 0.5),
    rgba(251, 251, 251, 0.6),
    rgba(251, 251, 251, 0.5),
    rgba(251, 251, 251, 0.1)
  );
  animation: loading 1.3s infinite;
  z-index: 45;
}

@keyframes loading {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
