@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Titillium Web", sans-serif;
}

html,
body {
  height: 100%;
}
.mat-drawer-container {
  min-height: calc(100vh - 90px);
  background-color: rgb(252, 250, 255);
}

.field-not-completed {
  @apply flex items-center justify-center pt-5 h-[10px] text-red-500 text-[12px] md:text-[16px];
}
.card-custom {
  @apply flex flex-col px-20 py-32 mt-10 w-full h-[500px] border border-[#E4E4E4] rounded-3xl;
}
.login-input {
  @apply border px-5 w-[250px] md:w-[450px] mt-2 h-[45px] rounded-md bg-[#F0F0F0];
}
.register-input {
  @apply border px-5 w-[200px] sm:w-[350px] 2xl:w-[500px] mt-2 h-[45px] rounded-md bg-[#F0F0F0];
}
.login-btn {
  @apply mt-10 text-[#fff] font-bold  w-[250px] md:w-[450px] bg-[#660091] hover:bg-[#7d0ead] transition duration-200 h-[45px] border-[#C5C5C5] rounded-full;
}
.register-btn {
  @apply mt-2 lg:mt-10 text-[#fff] font-bold w-[200px] sm:w-[350px] lg:w-[450px] bg-[#660091] hover:bg-[#7d0ead] transition duration-200 h-[45px] border-[#C5C5C5] rounded-full;
}
.transfer-btn {
  @apply w-[90%] md:w-[300px] h-[48px] bg-[#572F78] text-white font-semibold rounded-lg;
}
.transfer-input {
  @apply bg-[#F0F0F0] sm:mr-5 h-[48px] w-[100%] lg:w-[200px] xl:w-[w-300px] 2xl:w-[350px] px-5 rounded-md mt-2;
}
